name: test
on:
  pull_request:
    types: [labeled]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: ryubb/github-actions-test@v0.3.2
      with:
        notion-key: ${{ secrets.NOTION_KEY }}
        status-property: "Status"
        status-value: "In progress"
